PORT=
DATABASE_URL=
PAYLOAD_SECRET=
PAYLOAD_PUBLIC_SERVER_URL=

# Media Storage (R2 S3-Compatible API)
CLOUDFLARE_BUCKET=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_ENDPOINT=
CLOUDFLARE_REGION=auto

RESEND_API_KEY=
RESEND_FROM=
BCC_EMAIL=
ADMIN_EMAIL=

# Logging
# Set LOG_LEVEL to trace, debug, info, warn, error, or fatal.
LOG_LEVEL=info
LOGO_URL=
